In [1]:
import pandas as pd
import numpy as py

In [2]:
df=pd.read_excel('loan-data.xlsx')

In [3]:
df.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'purpose', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'repay_fail'],
      dtype='object')

In [4]:
df.isna().sum()

Unnamed: 0                    0
id                            0
member_id                     0
loan_amnt                     1
funded_amnt                   1
funded_amnt_inv               1
term                          0
int_rate                      0
installment                   1
emp_length                  993
home_ownership                0
annual_inc                    2
verification_status           0
issue_d                       0
loan_status                   0
purpose                       0
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   1
earliest_cr_line              0
inq_last_6mths                1
mths_since_last_delinq    24363
open_acc                      1
pub_rec                       1
revol_bal                     4
revol_util                   59
total_acc                     1
total_pymnt                   1
total_pymnt_inv               1
total_rec_prncp               1
total_rec_int                 1
last_pymnt_d                 71
last_pymnt_amnt               1
next_pymnt_d              35097
last_credit_pull_d            3
repay_fail                    0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,...,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,repay_fail
0,2,2,2,0.0,0.0,0.0,36 months,0.00,0.00,< 1 year,...,1.0,0.000000,0.00,0.00,0.00,2023-01-07,0.00,2023-01-07,2023-01-07,1
1,3,545583,703644,2500.0,2500.0,2500.0,36 months,13.98,85.42,4 years,...,10.0,3075.291779,3075.29,2500.00,575.29,2023-07-13,90.85,2023-08-13,2023-06-16,0
2,4,532101,687836,5000.0,5000.0,5000.0,36 months,15.95,175.67,4 years,...,15.0,2948.760000,2948.76,1909.02,873.81,2023-11-11,175.67,NaT,2023-03-12,1
3,5,877788,1092507,7000.0,7000.0,7000.0,36 months,9.91,225.58,10+ years,...,20.0,8082.391880,8082.39,7000.00,1082.39,2023-03-14,1550.27,NaT,2023-03-14,0
4,6,875406,1089981,2000.0,2000.0,2000.0,36 months,5.42,60.32,10+ years,...,15.0,2161.663244,2161.66,2000.00,161.66,2023-02-14,53.12,NaT,2023-06-16,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38480 entries, 0 to 38479
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              38480 non-null  int64
 1   id                      38480 non-null  int64
 2   member_id               38480 non-null  int64
 3   loan_amnt               38479 non-null  float64
 4   funded_amnt             38479 non-null  float64
 5   funded_amnt_inv         38479 non-null  float64
 6   term                    38480 non-null  object
 7   int_rate                38480 non-null  float64
 8   installment             38479 non-null  float64
 9   emp_length              37487 non-null  object
 10  home_ownership          38480 non-null  object
 11  annual_inc              38478 non-null  float64
 12  verification_status     38480 non-null  object
 13  issue_d                 38480 non-null  datetime64[ns]
 14  loan_status             38480 non-null  object
 15  purpose                 38480 non-null  object
 16  zip_code                38480 non-null  object
 17  addr_state              38480 non-null  object
 18  dti                     38480 non-null  float64
 19  delinq_2yrs             38479 non-null  float64
 20  earliest_cr_line        38480 non-null  datetime64[ns]
 21  inq_last_6mths          38479 non-null  float64
 22  mths_since_last_delinq  14117 non-null  float64
 23  open_acc                38479 non-null  float64
 24  pub_rec                 38479 non-null  float64
 25  revol_bal               38476 non-null  float64
 26  revol_util              38421 non-null  object
 27  total_acc               38479 non-null  float64
 28  total_pymnt             38479 non-null  float64
 29  total_pymnt_inv         38479 non-null  float64
 30  total_rec_prncp         38479 non-null  float64
 31  total_rec_int           38479 non-null  float64
 32  last_pymnt_d            38409 non-null  datetime64[ns]
 33  last_pymnt_amnt         38479 non-null  float64
 34  next_pymnt_d            3383 non-null   datetime64[ns]
 35  last_credit_pull_d      38477 non-null  datetime64[ns]
 36  repay_fail              38480 non-null  int64
dtypes: datetime64[ns](5), float64(19), int64(4), object(9)
memory usage: 10.9+ MB

In [8]:
df=df[['funded_amnt_inv', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status', 'purpose', 'total_pymnt', 
       'total_rec_prncp', 'total_rec_int', 'last_pymnt_amnt','repay_fail']]
#df.drop([columns], inplace=True, axis=1)

In [9]:
df.head()

,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0.0,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,Charged Off,major_purchase,0.000000,0.00,0.00,0.00,1
1,2500.0,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,Does not meet the credit policy. Status:Fully ...,other,3075.291779,2500.00,575.29,90.85,0
2,5000.0,36 months,15.95,175.67,4 years,RENT,59000.0,Not Verified,Charged Off,debt_consolidation,2948.760000,1909.02,873.81,175.67,1
3,7000.0,36 months,9.91,225.58,10+ years,MORTGAGE,53796.0,Not Verified,Fully Paid,other,8082.391880,7000.00,1082.39,1550.27,0
4,2000.0,36 months,5.42,60.32,10+ years,RENT,30000.0,Not Verified,Fully Paid,debt_consolidation,2161.663244,2000.00,161.66,53.12,0

In [10]:
df.isna().sum()

funded_amnt_inv          1
term                     0
int_rate                 0
installment              1
emp_length             993
home_ownership           0
annual_inc               2
verification_status      0
loan_status              0
purpose                  0
total_pymnt              1
total_rec_prncp          1
total_rec_int            1
last_pymnt_amnt          1
repay_fail               0
dtype: int64

In [11]:
df.loan_status.unique()

array(['Charged Off',
       'Does not meet the credit policy. Status:Fully Paid', 'Fully Paid',
       'Current', 'Does not meet the credit policy. Status:Charged Off',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Default'], dtype=object)

In [12]:
df.loan_status=df.loan_status.str.replace("Does not meet the credit policy. Status:", '')

C:\Users\ABC\AppData\Local\Temp\ipykernel_8972\1405789710.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loan_status=df.loan_status.str.replace("Does not meet the credit policy. Status:", '')

In [13]:
df['loan_status']=df['loan_status'].replace(['Late (31-120 days)','Late (16-30 days)'], 'Late')

In [14]:
df.loan_status.unique()

array(['Charged Off', 'Fully Paid', 'Current', 'Late', 'In Grace Period',
       'Default'], dtype=object)

In [15]:
df.loan_status.value_counts()

Fully Paid         31769
Charged Off         5800
Current              867
Late                  27
In Grace Period       15
Default                2
Name: loan_status, dtype: int64

In [16]:
df['verification_status']=df['verification_status'].replace('Source Verified', 'Verified')

In [17]:
df.verification_status.info()

<class 'pandas.core.series.Series'>
RangeIndex: 38480 entries, 0 to 38479
Series name: verification_status
Non-Null Count  Dtype
--------------  -----
38480 non-null  object
dtypes: object(1)
memory usage: 300.8+ KB

In [18]:
df.home_ownership.value_counts()

RENT        18253
MORTGAGE    17140
OWN          2958
OTHER         125
NONE            4
Name: home_ownership, dtype: int64

In [19]:
df.home_ownership.unique()

array(['RENT', 'MORTGAGE', 'OWN', 'OTHER', 'NONE'], dtype=object)

In [20]:
df.home_ownership =df.home_ownership.apply(lambda x: 'OTHER' if x =='NONE' else x)

In [21]:
df.home_ownership.unique()

array(['RENT', 'MORTGAGE', 'OWN', 'OTHER'], dtype=object)

In [22]:
emp_length_mapping = {
    '< 1 year': 0,
    '1 year': 1,
    '2 years': 2,
    '3 years': 3,
    '4 years': 4,
    '5 years': 5,
    '6 years': 6,
    '7 years': 7,
    '8 years': 8,
    '9 years': 9,
    '10+ years': 10}
    # Use the mapping to replace the strings with integers
df['emp_length'] = df['emp_length'].replace(emp_length_mapping)

In [23]:
df.emp_length.value_counts()

10.0    8465
0.0     4565
2.0     4292
3.0     3939
4.0     3314
1.0     3254
5.0     3171
6.0     2144
7.0     1702
8.0     1445
9.0     1196
Name: emp_length, dtype: int64

In [24]:
df['term']=df['term'].str.replace(' months','').astype(int)

In [25]:
df.term.value_counts()

36    28593
60     9887
Name: term, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier

In [58]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['repay_fail']),
                                                 df['repay_fail'],
                                                 test_size=0.2,
                                                random_state=42)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38480 entries, 0 to 38479
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt_inv      38479 non-null  float64
 1   term                 38480 non-null  int32
 2   int_rate             38480 non-null  float64
 3   installment          38479 non-null  float64
 4   emp_length           37487 non-null  float64
 5   home_ownership       38480 non-null  object
 6   annual_inc           38478 non-null  float64
 7   verification_status  38480 non-null  object
 8   loan_status          38480 non-null  object
 9   purpose              38480 non-null  object
 10  total_pymnt          38479 non-null  float64
 11  total_rec_prncp      38479 non-null  float64
 12  total_rec_int        38479 non-null  float64
 13  last_pymnt_amnt      38479 non-null  float64
 14  repay_fail           38480 non-null  int64
dtypes: float64(9), int32(1), int64(1), object(4)
memory usage: 4.3+ MB

In [60]:
df.isnull().sum()

funded_amnt_inv          1
term                     0
int_rate                 0
installment              1
emp_length             993
home_ownership           0
annual_inc               2
verification_status      0
loan_status              0
purpose                  0
total_pymnt              1
total_rec_prncp          1
total_rec_int            1
last_pymnt_amnt          1
repay_fail               0
dtype: int64

In [73]:
df.dropna(inplace=True)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37485 entries, 0 to 38479
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt_inv      37485 non-null  float64
 1   term                 37485 non-null  int32
 2   int_rate             37485 non-null  float64
 3   installment          37485 non-null  float64
 4   emp_length           37485 non-null  float64
 5   home_ownership       37485 non-null  object
 6   annual_inc           37485 non-null  float64
 7   verification_status  37485 non-null  object
 8   loan_status          37485 non-null  object
 9   purpose              37485 non-null  object
 10  total_pymnt          37485 non-null  float64
 11  total_rec_prncp      37485 non-null  float64
 12  total_rec_int        37485 non-null  float64
 13  last_pymnt_amnt      37485 non-null  float64
 14  repay_fail           37485 non-null  int64
dtypes: float64(9), int32(1), int64(1), object(4)
memory usage: 4.4+ MB

In [75]:
df.isnull().sum()

funded_amnt_inv        0
term                   0
int_rate               0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
loan_status            0
purpose                0
total_pymnt            0
total_rec_prncp        0
total_rec_int          0
last_pymnt_amnt        0
repay_fail             0
dtype: int64

In [76]:
#Applying imputation

# imputation transformer
#trf1 = ColumnTransformer([('imputed', SimpleImputer(), [[0,3,4,6,10,11,12,13]])],remainder='passthrough')

In [77]:
# one hot encoding

trf2 = ColumnTransformer([
    ('ohe',OneHotEncoder(sparse=False,handle_unknown='ignore'),[5,7,8,9])],remainder='passthrough')

In [78]:
trf3 = DecisionTreeClassifier()

In [79]:
pipe = Pipeline([
                ('trf2',trf2),
                ('trf3',trf3),
            ])

In [80]:
#train
pipe.fit(X_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('trf2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [5, 7, 8, 9])])),
                ('trf3', DecisionTreeClassifier())])

In [81]:
#Predict
y_pred = pipe.predict(X_test)

In [82]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

1.0

In [83]:
y_pred2 = pipe.predict(X_train)

In [84]:
accuracy_score(y_train,y_pred2)

1.0

In [85]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      6479
           1       1.00      1.00      1.00      1217

    accuracy                           1.00      7696
   macro avg       1.00      1.00      1.00      7696
weighted avg       1.00      1.00      1.00      7696

In [86]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[6479    0]
 [   0 1217]]